<h1>Index Page <h1><h2>Welcome <%= current_user.name %></h2>

Our members site has <%= Post.count %> posts and counting!

<ul>
  <% @post.each do |post| %>
    
      <li>
        <%#= link_to post.title, post %>
      </li>
      <li>
        <%#= link_to post.body, post %>
      </li>
      <%# if user_signed_in? %>
      <li>
        <%#= link_to User.post.name, post %>
      </li>    
      <%# end %> 
    
  <% end %>
</ul>

<%= link_to "New post", new_post_path %>
